/*sets background for page*/
body {
	background-image: url("../images/Fellowship.jpg");
	background-size: 100%;
}

/*center all text*/
* {
	text-align: center;
}

/*set font for heading*/
h1 {
	font-family: "Lucida Sans Unicode", "Lucida Grande", sans-serif;
	font-size: 48px; 
	font-style: italic;
}

/*sets background and formatting for game board*/
.container {
	background-image: url("../images/old_map.png");
	border: 5px solid brown;
	min-height: 500px;
}

/*formatting for map*/
#map {
	width: 750px; 
	margin: 25px;
}

/*sets margin for buttons*/
#done, #start {
	margin-bottom: 25px
}